@{
  Layout = "_Layout";
}
@using Factory.Models;

<div class="container">
  <div class="jumbotron">
    <h4>Machines</h4>
    <h1>@Model.Name </h1>
    <small>@Model.Disc</small>
  </div>
  @if (Model.Licenses.Count == 0)
  {
    <p>@Model.Name has no Engineers working on it.</p>
  }
  <h3>Engineers Responsible</h3>
  <ul>
    @foreach (License license in Model.Licenses)
    {
      <li>@license.Engineer.Name</li>
    }
  </ul>

  @Html.ActionLink("Edit Machine","Edit", new {id=Model.MachineId}, new { @class="btn btn-info" })
  @Html.ActionLink("Delete Machine","Delete",new {id=Model.MachineId}, new { @class="btn btn-info" })
  @Html.ActionLink("Add a Engineer","AddEngineer",new {id=Model.MachineId}, new { @class="btn btn-info" })
</div>