@{
  Layout = "_Layout";
}
@using Factory.Models;


<div class="container">
  <div class="jumbotron">
    <h4>Engineer</h4>
    <h1>@Model.Name </h1>
  </div>
  @if (Model.Licenses.Count == 0)
  {
    <p>@Model.Name has no Machines.</p>
  }
  <ol>
    @foreach (License license in Model.Licenses)
    {
      <li>@license.Machine.Name</li>
    }
  </ol>
  @Html.ActionLink("Back to Engineers","Index", null, new { @class="btn btn-info" })
  @Html.ActionLink("Edit Engineers","Edit", new {id=Model.EngineerId}, new { @class="btn btn-info" })
  @Html.ActionLink("Delete Engineers","Delete",new {id=Model.EngineerId}, new { @class="btn btn-info" })


</div>
