@{
  Layout = "_Layout";
}
@using Factory.Models;


<div class="container">
  <div class="jumbotron">
    <h4>Engineers</h4>
    <h1>@Model.Name </h1>
    <small>@Model.Disc</small>
  </div>
  @if (Model.Licenses.Count == 0)
  {
    <p>@Model.Name has no Machines.</p>
  }
  <h3>Machine Licenses</h3>
  <ul>
    @foreach (License license in Model.Licenses)
    {
      <li>@license.Machine.Name</li>
    }
  </ul>

  @Html.ActionLink("Edit Engineer","Edit", new {id=Model.EngineerId}, new { @class="btn btn-info" })
  @Html.ActionLink("Delete Engineer","Delete",new {id=Model.EngineerId}, new { @class="btn btn-info" })
  @Html.ActionLink("Add a Machine","AddMachine",new {id=Model.EngineerId}, new { @class="btn btn-info" })



</div>
